*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gliker';
    src: url(/resources/Gliker-RegularExpanded.ttf);
}

body{
    overflow-x: hidden;
}


/* MENÚ NAVEGACIÓN */

nav {
    background: #8a3319;
    font-family: 'gliker';
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.enlace {
    margin-right: auto;
    padding-right: 20px;
}

.logo {
    height: 72px;
    width: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.nav-list li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nav-list li a {
    color: #ffffff;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list li a.active, .nav-list li a:hover {
    background: #1d1b1b;
    transition: .5s;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    width: 100%;
    max-width: 400px;
}

.cart-icon {
    font-size: 25px;
    color: #ffffff;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Responsividad */
@media (max-width: 853px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #8a3319d8;
        position: absolute;
        top: 80px;
        left: 0;
        padding: 0;
    }

    #check:checked ~ .nav-list {
        display: flex;
    }

    .checkbtn {
        display: block;
    }

    .cart-icon {
        display: block;
        margin-right: 15px;
    }
}


/* SCROLL-TOP */

html{
	scroll-behavior: smooth;
}

.back-to-top{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #8a3319c4;
	border-radius: 50%;
    height: 60px;
    width: 60px;
	text-decoration: none;
	transition: 0.2s ease-out;
    display: none;
    z-index: 1;
}

.back-to-top i{
	color: #fff;
    padding-top: 20px;
    padding-left: 15px;
	font-size: 1.5rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover{
	background-color: #f1f1f1;
    border: 2px solid;
    border-color: #000000;
}
.back-to-top:hover i{
    color: #000000;
}


/* IMAGENES */

.portada {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.portada ul {
    display: flex;
    width: 400%;
    transition: margin-left 0.5s ease-in-out;
}

.portada li {
    list-style: none;
    width: 100%;
}

.portada img {
    padding-top: 80px;
    width: 100%;
    height: auto;
    display: block;
}

#prev, #next {
    position: absolute;
    top: 58%;
    font-size: 250%;
    background: none;
    color: #ffffffcc;
    border: none;
    cursor: pointer;
    z-index: 0;
}

#prev {
    left: 50px;
}

#next {
    right: 50px;
}


/* INFORMACION */

.info_total {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
    max-width: 1200px;
    overflow: hidden;
}

.info_item {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-width: 250px;
    border-right: 1px solid #000000;
}

.info_item:nth-child(3n) {
    border-right: none;
}

.info_item i {
    font-size: 22px;
    padding-bottom: 10px;
}

.info_titulo {
    font-family: 'gliker';
    padding-bottom: 5px;
    font-weight: bold;
}

.info_subtitulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* NUESTROS AROMAS */

.sec_variedades {
    background-color: #f1f1f1;
    padding: 50px 20px;
    text-align: center;
}

.sec_variedades h1 {
    font-family: 'gliker';
    letter-spacing: 5px;
    margin-top: 70px;
}

.sec_variedades h3 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.variedades {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.packaging {
    width: 150px;
    margin-bottom: 20px;
}

.colores-aromas {
    display: flex;
    justify-content: center;
}

.color-aroma {
    width: 60px;
    transition: all 300ms;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.color-aroma:hover {
    transform: scale(1.1);
    background-color: #dddcdc79;
}

.color-aroma.selected {
    border: 2px solid #99391b;
    background-color: #8a3319bb;
    transform: scale(1.1);
}

.tarjeta_aromas {
    margin-bottom: 30px;
    width: 180px;
}

/* Media Queries */
@media (min-width: 855px) {
    .variedades {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tarjeta_aromas {
        margin-right: 20px;
        margin-bottom: 50px;
        width: 180px;
        transform: none;
    }
}


/* PRODUCTOS */

.sec_productos{
background-color: #f1f1f1;
}

.sec_productos .titulo{
    text-align: center;
    font-family: 'gliker';
    font-size: 30px;
    letter-spacing: 5px;
    padding-top: 70px;
}

.sec_productos .subtitulo{
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    margin-bottom: 60px;
}

.container_products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem;
    background-color: #f1f1f1;
    font-family: 'gliker';
}

.card-product{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative;
}

.container-img img{
    width: 215px;
    height: 315px;
}

.container-img .discount{
    position: absolute;
    left: 0;
    background-color: #8a3319;
    color: white;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount{
    background-color: black;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}

.button-group span{
    border: 1px solid #8a3319;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-group span:hover{
    background-color: #8a3319;
}

.button-group span i{
    font-size: 1.5rem;
    color: #8a3319;
}

.button-group span:hover i{
    color: white;
}

.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
}

.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.intensidad{
    grid-row: 1/2;
    grid-column: 1/-1;
}

.intensidad i{
    font-size: 1rem;
    color: #8a3319;
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: #8a3319;
}

.add-cart{
    justify-self: start;
    border: 2px solid #8a3319;
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: #8a3319;
}

.add-cart i{
    font-size: 1.5rem;
    color: #8a3319;
}

.add-cart:hover i{
    color: white;
}

.content-card-product .price{
    justify-self: end;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}

.see-more{
    text-align: center;
    margin-top: 80px;
}

.see-more-btn{
    color: white;
    font-family: 'gliker';
    border: 2px solid #8a3319;
    background-color: #8a3319;
    border-radius: 100px;
    font-size: 15px;
    padding: 10px 26px;
}

.see-more-btn:hover{
    color: black;
    background-color: #f1f1f1;
}


/* CONTACTO */

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 62px;
    font-family: 'gliker';
    background: -webkit-linear-gradient(to right, hsla(16, 100%, 70%, 0.527), hsla(12, 100%, 56%, 0.527)), url(../resources/contacto-portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(16, 100%, 70%, 0.527), hsla(12, 100%, 56%, 0.527)), url(../resources/contacto-portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
  .content {
    width: 640px;
    margin-left: -350px;
    padding: 1rem;
}
  
  .form-container {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-top: 8rem;
    margin-bottom: 8rem;
    border-radius: 0.5rem;
    background-color: #ffffff57;
    padding: 1.5rem;
    width: 1000px;
}
  
  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
  
  .form {
    display: grid;
    grid-row-gap: 1rem;
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}
  
  .input-group {
    display: grid;
    grid-row-gap: 0.5rem;
}
  
  label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
}
  
  input,
  textarea {
    background-color: #ffffffbe;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db77;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-family: 'gliker';
}
  
  input:focus,
  textarea:focus {
    border-color: #8B2A0E;
    outline: none;
    box-shadow: 0 0 0 2px rgba(139, 42, 14, 0.5);
}
  
  textarea {
    max-height: 300px;
    min-height: 100px;
    resize: vertical;
    font-family: 'gliker';
}
  
  button {
    font-family: 'gliker';
    background-color: #8b290ed8;
    color: #ffffff;
    border-color: #8a3319;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s, background-color 0.2s, box-shadow 0.2s;
}
  
  button:hover {
    background-color: #ffffff81;
    color: #000000;
    border: 2px solid #8b290ed8;
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(139, 42, 14, 0.5);
}
  
  button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* FOOTER */

.footer {
    background-color: #f1f1f1;
    color: #000000;
    padding: 2rem 0;
    font-family: 'gliker';
  }

  .container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .logo-section,
  .links-section,
  .contact-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 1rem;
  }
  
  .logo-link {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .logo-footer {
    max-height: 80px;
  }
  
  .description {
    color: #000000;
    font-size: 0.875rem;
  }
  
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  .links-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links-list li {
    margin-bottom: 0.5rem;
  }

  .links-list a {
    color: #000000;
    text-decoration: none;
  }
  
  .links-list a:hover {
    text-decoration: underline;
    color: none;
  }
  
  .contact-section p {
    margin: 0.5rem 0;
    color: black;
  }

  
  .footer-bottom {
    border-top: 1px solid #000000;
    padding-top: 1rem;
    text-align: center;
  }
  
  .social-media {
    margin-bottom: 1rem;
  }
  
  .social-link {
    display: inline-block;
    margin: 0 0.5rem;
  }
  
  .social-link i {
    height: 24px;
    width: 24px;
    color: #000000;
  }
  
  .copyright {
    font-size: 0.875rem;
    color: #000000;
  }
  

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .back-to-top{
        display: inline;
    }
}
@media screen and (max-width: 1100px) {
    .form-container{
        width: 130%;
        margin-left: 100px;
    }
}
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }
    .logo-section,
    .links-section,
    .contact-section {
        text-align: center;
    }
    .links-list {
        padding-left: 0;
    }
}
@media (max-width: 858px){
    .form-container{
    width: 120%;
    margin-left: 115px;
    }
}
@media screen and (max-width: 780px) {
    .form-container{
        width: 90%;
        margin-left: 210px;
    }
}
@media (max-width: 768px) {
    .info_total {
        flex-direction: column;
    }
    
    .info_item {
        padding: 10px 0;
        border-right: none;
    }
}
@media screen and (max-width: 600px) {
    .form-container{
        width: 70%;
        margin-left: 270px;
    }
}
@media screen and (max-width: 475px) {
    .form-container{
        width: 60%;
        margin-left: 295px;
    }
}
@media screen and (max-width: 430px) {
    .container{
        background: -webkit-linear-gradient(to right, hsla(16, 100%, 70%, 0.527), hsla(12, 100%, 56%, 0.527)), url(../resources/contacto-portada-mobile.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(16, 100%, 70%, 0.527), hsla(12, 100%, 56%, 0.527)), url(../resources/contacto-portada-mobile.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 380px) {
    .form-container{
        width: 50%;
        margin-left: 330px;
    }
}
@media screen and (max-width: 317px) {
    .card-product{
        width: 98%;
    }
}
@media screen and (max-width: 281px) {
    .form-container{
        width: 45%;
        margin-left: 343px;
    }

    .back-to-top{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }

    .card-product{
        width: 89%;
    }

    .sec_productos .titulo{
        font-size: 26px;
    }
}


/* GALAXY Z FOLD 5* (CAMBIAR)*/

@media screen and (max-width: 344px) { 
    .colores-aromas{
        width: 75%;
    }
}
